:root {
  --note-title-color: rgba(0,114,163,.1);
  --note-border-color: #0072A3;
  --grey-border-color: #ccc;
  --warning-title-color: rgba(186,20,59,.1);
  --warning-border-color: #BA143B;
  --hint-title-color: rgba(201,181,2,.2);
  --hint-border-color: #C9B502;
  --caution-title-color: rgba(214,121,0,.2);
  --caution-border-color: #D67900;
  --grey-title-color: rgba(204,204,204,.2);
  --black-border-color: #000;
  --grey1: #f5f5f5;
  --grey2: #9e9e9e;
  --black1: #000;
  --white1: #fff; 
  --pst-color-primary: rgba(165,199,67,1);
  --animat-color-primary: #EDC155;
}

/* ======================================= */
/* ==========  General layout   ========== */
/* ======================================= */

/* TOC */
nav.bd-links .current>a {
    box-shadow: inset max(3px, 0.1875rem, 0.12em) 0 0 var(--animat-color-primary) !important;
    color: var(--animat-color-primary) !important;
}
nav.bd-links li>a:hover {
    color: var(--animat-color-primary);
}
.toc-entry a.nav-link.active {
    box-shadow: inset max(3px, .1875rem, .12em) 0 0 var(--animat-color-primary);
    color: var(--animat-color-primary);
}
a.headerlink {
    color: var(--animat-color-primary);
}
.toc-entry a.nav-link:hover {
    color: var(--animat-color-primary);
}
.navbar-nav .toctree-checkbox~label .fa-chevron-down {
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out; 
}
.navbar-nav .toctree-checkbox:checked~label .fa-chevron-down {
    transform: rotate(180deg);
}

/* Previous and next page */
.prev-next-area a:visited p.prev-next-title {
    color: var(--animat-color-primary);
}
.prev-next-area a {
    color: var(--animat-color-primary);
}
.prev-next-area a p.prev-next-title {
    color: var(--animat-color-primary);
}
.prev-next-area a:visited p.prev-next-title:hover {
    color: var(--animat-color-primary);
}
a:visited:hover {
    color: var(--animat-color-primary);
}

/* Back to the top */
#pst-back-to-top {
    background-color: var(--animat-color-primary) !important;
}

/* Links */
a {
    word-wrap: break-word;
    color: var(--animat-color-primary);
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: 0.1578em;
}
a:hover {
    text-decoration-skip: none;
    color: var(--animat-color-primary);
    text-decoration-skip-ink: none;
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
a:active, a:visited {
    color: var(--animat-color-primary);
}

/* Notebook blocks */
.cell_output .output.stderr {
    display: none;
}
div.cell_input>div, div.cell_output div.output>div.highlight {
    display: none;
}

/* Prevent download gif */
/* https://stackoverflow.com/questions/21110130/protect-image-download */
img {
    pointer-events: none;
}


/* Details to use for proof and hints */
details {
  display: flex;
}

details summary {
  cursor: pointer;
}

summary {
  cursor: pointer;
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 0;
  padding: 0;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

:root {
  --fontColor: inherit;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='tb-icon toggle-chevron-right' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpolyline points='9 6 15 12 9 18'%3E%3C/polyline%3E%3C/svg%3E");
}

summary::before {
  content: "";
  width: 22px;
  height: 22px;
  display: inline-block;
  mask-image: var(--svg);
  mask-size: cover;
  -webkit-mask-image: var(--svg);
  -webkit-mask-size: cover;
  background-color: var(--pst-color-text-base);
  transition: 0.2s;
}

details[open]>summary::before {
  transform: rotate(90deg);
}



/* ======================================= */
/* ==========    Don't know     ========== */
/* ======================================= */


/*```{admonition} Hint
:class: dropdown, tip
*/

button.toggle-button {
  background: none;
}

div.exercise p.admonition-title::before {
  color: rgb(51, 51, 51);
}



